# Local .gitignore for my .dotfiles
vim/view/*
vim/undodir/*
vim/tmp/undo/*
mutt/cache/*
mutt/tmp/*
*yankring_history*
*.netrwhist
*w3m/history
tmux/resurrect/*
*cache*
history.sqlite
dbhist
ipython/profile_default/db/
matplotlib/fontList.json

matplotlib/*fontlist*
