line-length = 88  # scipy standard

[lint]
extend-select = [
    'B',    # flake8-bugbear
    'C4',   # flake8-comprehensions
    'D',    # docstring errors
    'E',    # pycodestyle errors
    'F',    # pyflakes errors
    'I',  # isort errors (import sorting)
    'ISC',  # flake8-implicit-str-concat
    'NPY',  # numpy-specific checks
    'PD',   # pandas-vet
    'PIE',  # flake8-pie
    'PL',   # pylint errors
    'PTH',  # use Path vs os
    'UP',   # pyupgrade
    'W',    # pycodestyle warnings (whitespace)
]

ignore = [
    'B028',     # No explicit `stacklevel` keyword argument found
    'B904',     # Within an `except` clause distinguish raised exceptions from errors in exception handling
    'B905',     # `zip()` without an explicit `strict=` parameter
    'D104',     # Missing docstring in __init__
    'D105',     # Missing docstring in magic method
    'D205',     # 1 blank line required between summary line and description
    'E741',     # ambiguous variable name (l, O, I)
    'PIE790',   # Unnecessary `pass` statement
    'PLC2401',  # non-ASCII characters
    'PLR0912',  # too many branches (max-branches)
    'PLR0913',  # too many arguments (max-args)
    'PLR0915',  # too many statements (max-statements)
    'PLR2004',  # magic value used in comparison
]

[lint.per-file-ignores]
"__init__.py" = ['F403', 'F405']  # ignore wildcard imports and undefined names
"test_*.py" = ['D101', 'D102', 'D103']  # ignore docstring checks in test files
"setup.py" = ['D100', 'D101', 'D102', 'D103', 'D104']  # ignore docstrings

[lint.pydocstyle]
convention = "numpy"
